.Login {
    background: #020509;
    grid-area: sd;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 250px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFF;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button {
    font-family: 'Roboto', sans-serif;
    background-color: #343941;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10%;
    margin: 10px 0px;
    cursor: pointer;
    width: 100%;
}

a {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px 89px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}