.doughnutChart {
    margin-left: 300px;
    width: calc(100vw - 400px);
    height: 300px;
    align-items: center;
}

.doughnut {
    position: relative;
    right: -40%;
}

.line {
    position: relative;
    right: -5%;
    width: 600px;
    margin-bottom: 5px;
}

hr {
    border: 0;
    border-top: 1px solid;
    width: 100%;
}

.lineChart {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    width: calc(100vw - 400px);
    height: 300px;
    position: relative;
}

.Select {
    width: 200px;
    margin-left: 500px;
    position: relative;
    top: -90%;
    right: -40%;
    transform: translateY(-50%);
}