.user {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #16181F;
    margin-left: 680px;
    text-align: center;
}

.userImg {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.userTitle {
    font-size: 24px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    color: #F3F4F6;
    font-family: 'Roboto', sans-serif;
}

.userContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
}

.userAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50%;
}

.userInfo {
    flex: 1;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #F3F4F6;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.userInfo2 {
    flex: 1;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #F3F4F6;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}


.changePasswordBtn {
    font-family: 'Roboto', sans-serif;
    background-color: #282F3C;
    color: #F3F4F6;
    font-size: 20px;
    margin: 10px 0px;
    cursor: pointer;
    width: 200px;
    margin-left: 940px;
    margin-top: 50px;
}

.changePasswordBtn:hover {
    text-decoration: underline;
    font-weight: bold;
}

.modalLabel {
    color: #F3F4F6;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}

.confirmButton {
    padding: 5px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    float: left;
    cursor: pointer;
    color: white;
    width: 100%;
    border-radius: 5px;
    background-color: #238636;
    font-weight: bold;
    margin-top: 10px;
}

.modalText {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #F3F4F6;

}

@media only screen and (max-device-width: 1400px) {
    .user {
        width: 700px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: #16181F;
        margin-left: 400px;
    }

    .userInfo2 {
        flex: 1;
        position: relative;
        margin-bottom: 10px;
        margin-right: 10px;
        color: #F3F4F6;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 15px;
        left: 14%;
    }

    .changePasswordBtn {
        font-family: 'Roboto', sans-serif;
        background-color: #282F3C;
        color: #F3F4F6;
        font-size: 20px;
        margin: 10px 0px;
        cursor: pointer;
        width: 200px;
        margin-left: 667px;
        margin-top: 50px;
    }

}