.signUp {
    background: #16181F;
    grid-area: sd;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 400px;
    height: 450px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #f3f4f6;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f3f4f6;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f3f4f6;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f3f4f6;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button {
    font-family: 'Lato';
    background-color: #485168;
    color: #f3f4f6;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5%;
    margin: 10px 0px;
    cursor: pointer;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.error {
    font-family: 'Lato';
    font-size: 12px;
    color: #dd1212;
    margin-top: 2px;
    margin-bottom: -10px;
}

dialog {
    width: 400px;
    background-color: #16181F;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 300px;
    position: fixed;
    top: 14%;
    left: 21%;
    transform: translate(-50%, -30%);
    border-color: #16181F;
    align-items: center;
}

dialog h2 {
    font-size: 20px;
    margin-top: 0;
    color: #f3f4f6;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

dialog p {
    margin-bottom: 16px;
    color: #f3f4f6;
    font-family: 'Roboto', sans-serif;
}

dialog button {
    background-color: #238636;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

dialog button:hover {
    background-color: #1e682d;
}